<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">

</head>
<body>
<!-- NAVBAR -->

<!-- navtop -->
<div class="navtop" th:fragment="fragmentNavTop">
    <div id="logged" class="text-white font-bold btn-navtop text-1c25">
        <span class="cursor-pointer" th:if="${message1 != null}" th:utext="${message1}" ></span>
        <img class="avatar cursor-pointer" th:src="@{/images/amumu.webp}">
    </div>

</div>


<div class="container1">
    <!-- navleft -->
    <div class="navleft" th:fragment="fragmentNavLeft">
        <div style="padding-top: 1rem;" class="logo">
            <img class="logo" th:src="@{/images/logo.png}">
        </div>
        <div class="menu text-white text-1">
            <div id="nav-home" class="nav-item nav-item-parent">
                <i style="font-size: 1.25rem;" class="fa fa-home pr-1" aria-hidden="true"></i>
                <a th:href="@{/}" style="text-decoration: none;color: white">Khách Sạn</a>
            </div>

            <div   class="nav-item pl-3c4">
                <a th:href="@{/checkin}" style="text-decoration: none;color: white">Thuê Phòng</a>

            </div>
            <div   class="nav-item pl-3c4">
                <a th:href="@{/checkout}" style="text-decoration: none;color: white">Trả Phòng</a>
            </div>
            <div   class="nav-item pl-3c4">
                <a th:href="@{/quanlythue}" style="text-decoration: none;color: white">QL Thuê</a>
            </div>
            <div   class="nav-item pl-3c4">
                <a th:href="@{/khachhang}" style="text-decoration: none;color: white">QL TT Khách Hàng</a>
            </div>
            <div   class="nav-item pl-3c4">
                <a th:href="@{/quanlyphong}" style="text-decoration: none;color: white">QL Phòng</a>
            </div>
            <div   class="nav-item pl-3c4">
                <a th:href="@{/quanlynhanvien}" style="text-decoration: none;color: white">QL Nhân Viên</a>
            </div>
            <div id="btn-logout" class="logout" >
                <i style="font-size: 1.25rem;" class="fa fa-sign-out pr-1" aria-hidden="true" ></i>
                <a th:href="@{/logout}" style="text-decoration: none;color: white">Đăng xuất</a>
            </div>
        </div>


    </div>
    <!-- content -->
    <div class="content"  style="color: white;font-size: xx-large;text-align: center;display: inline-block;background-image: url('https://c.wallhere.com/photos/ec/f9/League_of_Legends_Amumu-166791.jpg!d');background-size: cover ">
        <br/>
        <br/>
        <p>

            Khách sạn Amumu tọa lạc gần Quảng trường Pitover- . Nằm giữa trung tâm kinh tế và văn hóa của Pitover, Khách sạn Amumu mong muốn là cánh cửa đầu tiên ở Pitover chào đón Quý khách ở khắp mọi miền League Of Legends về với Pitover.

            Với chất lượng đạt chuẩn Quốc tế 4 sao,  Khách sạn Amumu không chỉ đáp ứng hoàn hảo nhu cầu nghỉ ngơi của Quý khách mà còn mang đến những giây phút thư giãn giải trí tuyệt vời và để lại dư vị ấn tượng trong văn hóa ẩm thực nơi đây. Khách sạn là sự kết hợp hài hòa của phong cách mang màu sắc sang trọng, hiện đại và cổ kính bao gồm cả quần thể Nhà hàng, Bể Bơi, sân Tennis và các khu vui chơi giải trí khác được quy tụ trong một khuôn viên rộng lớn gần 15.000 m2 . </p>
            <br/>
        <p>Quy trình đặt phòng: Đăng ký thông tin khách hàng nhận ID khách hàng => Dùng ID để đặt phòng => Nhập ID để trả phòng</p>
    </div>

</div>

</body>

</html>